html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1.brand-name a {
  color: #000000;
  text-decoration: underline;
}

.main-container {
  font-family: "Lucida Console", Monaco, monospace;
  margin-top: 3rem;
}
nav.sidebar ul {
  list-style: none;
}

nav.sidebar ul a {
  color: #054B85;
}

nav.sidebar ul a:hover {
  color: #CE3D00;
}

div.content-page {
  margin-top: 2rem;
  margin-left: 20px;
}

div.content-block {
  margin-bottom: 4rem;
}
div.content-block h2 {
  color: #444444;
}

div.content-block p {
  color: #666666;
}

ul.posts span {
  color: #151515;
}

blockquote {
  padding: 10px;
  background-color: #f9f9f9;
}

nav.sidebar ul {
  padding-left: 0px;
}

div.bottom-ad-banner {
  margin: 0 auto;
  margin-bottom: 30px;
}

footer {
  margin-top: 60px;
  bottom: 0px;
  width: 100%;
}

div.category {
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

div.category .scribble {
  color: #51BC87;
}
